
<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-call-to-action" src="https://images.unsplash.com/photo-1613553497126-a44624272024?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
      </div>
      <div class="col-lg-6">
        <div class="call-to-action-content">
          <p class="call-to-action-title">Contate um corretor</p>
          <p class="call-to-action-subtitle">As melhores casas para alugar estão aqui</p>
          <button class="btn btn-call-to-action w-100 mt-5">Entrar em contato</button>

        </div>

      </div>
    </div>
  </div>
</div>
