.call-to-action{
  background-color: #4ca1a3;
}
.img-call-to-action{
  padding: 20px;
  width: 100%;
  border-radius: 40px;
}

.call-to-action-content{
  color: #fff;
  padding: 40px;

  .call-to-action-title{
    font-size: 36px;
    font-weight: bold;
  }

  .call-to-action-subtitle{
    font-size: 32px;
    font-weight: lighter;
  }

  .btn-call-to-action{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    background-color: #233e8b;
  }
}

