
.house-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 10px;

  .house-content{
    margin: 10px 0;
    border: 1px solid #E8E8E8;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    .img-house-content{
      width: 100%;
    }
  }

}

.house-img-container{
  position: relative;

  .house-content-title{
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
  }
  .house-content-address{
    font-weight: lighter;
    text-align: center;
  }
}

.house-rent{
  border-radius: 10px;
  background-color: #4ca1a3;
  padding: 5px 15px;
  margin-top: -300px;
  margin-left: 220px;
  position: absolute;

  .house-rent-value{
    font-weight: bold;
    color: #fff;
  }
}

.icons-container{
  display: flex;
  justify-content: space-between;
  padding: 15px;

  .icon-value{
    font-size: 22px;
    margin-left: 10px;
  }
}
