<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }




  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Navbar -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="" role="main">

<!-- carousel -->

<div class="carousel-container">

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item carousel-custom active">
        <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622504892/photo-1503174971373-b1f69850bded_btqoew.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item carousel-custom">
        <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622504812/photo-1564013799919-ab600027ffc6_m53fha.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item carousel-custom">
        <img src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622504847/photo-1582268611958-ebfd161ef9cf_jcomst.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- content -->

<div class="container">
  <h2>Novidades</h2>

  <div class="house-grid">
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506496/photo-1613977257363-707ba9348227_acq43z.jpg" alt="">
        <p class="house-content-title">Los Angeles, USA</p>
        <p class="house-content-address">3206  Lost Creek Road</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2000</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506587/photo-1531971589569-0d9370cbe1e5_plvl6r.jpg" alt="">
        <p class="house-content-title">Los Angeles, USA</p>
        <p class="house-content-address">4705  Raoul Wallenberg Place</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2500</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506732/photo-1513584684374-8bab748fbf90_npkyyh.jpg" alt="">
        <p class="house-content-title">New York, USA</p>
        <p class="house-content-address">2303  Trouser Leg Road</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2500</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506810/photo-1581974206967-93856b25aa13_rjwc9w.jpg" alt="">
        <p class="house-content-title">Santa Mônica, USA</p>
        <p class="house-content-address">1642  Rainbow Drive</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2100</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506876/photo-1602075432748-82d264e2b463_d6y1fy.jpg" alt="">
        <p class="house-content-title">Santa Bárbara, USA</p>
        <p class="house-content-address">4282  West Virginia Avenue</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2350</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506908/photo-1575517111478-7f6afd0973db_ici6dt.jpg" alt="">
        <p class="house-content-title">Miami, USA</p>
        <p class="house-content-address">3067  Lake Forest Drive</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $3000</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

  </div>
</div>
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-call-to-action" src="https://images.unsplash.com/photo-1613553497126-a44624272024?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
      </div>
      <div class="col-lg-6">
        <div class="call-to-action-content">
          <p class="call-to-action-title">Contate um corretor</p>
          <p class="call-to-action-subtitle">As melhores casas para alugar estão aqui</p>
          <button class="btn btn-call-to-action w-100 mt-5">Entrar em contato</button>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="announcement">
  <div class="container">
    <div class="announcement-grid">

    </div>
  </div>

</div>

<router-outlet></router-outlet>
