
<div class="container">
  <h2>Novidades</h2>

  <div class="house-grid">
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506496/photo-1613977257363-707ba9348227_acq43z.jpg" alt="">
        <div class="house-header">
          <p class="house-content-title">Los Angeles, USA</p>
          <p class="rent-price">Aluguel: $2000</p>
        </div>
        <p class="house-content-address">3206  Lost Creek Road</p>

        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506587/photo-1531971589569-0d9370cbe1e5_plvl6r.jpg" alt="">
        <div class="house-header">
          <p class="house-content-title">Los Angeles, USA</p>
          <p class="rent-price">Aluguel: $2000</p>
        </div>
        <p class="house-content-address">4705  Raoul Wallenberg Place</p>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506732/photo-1513584684374-8bab748fbf90_npkyyh.jpg" alt="">
        <div class="house-header">
          <p class="house-content-title">New York, USA</p>
          <p class="rent-price">Aluguel: $2000</p>
        </div>
        <p class="house-content-address">2303  Trouser Leg Road</p>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506810/photo-1581974206967-93856b25aa13_rjwc9w.jpg" alt="">
        <div class="house-header">
          <p class="house-content-title">Miami, USA</p>
          <p class="rent-price">Aluguel: $2000</p>
        </div>
        <p class="house-content-address">1642  Rainbow Drive</p>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506876/photo-1602075432748-82d264e2b463_d6y1fy.jpg" alt="">
        <div class="house-header">
          <p class="house-content-title">Miami, USA</p>
          <p class="rent-price">Aluguel: $2000</p>
        </div>
        <p class="house-content-address">4282  West Virginia Avenue</p>

        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506908/photo-1575517111478-7f6afd0973db_ici6dt.jpg" alt="">
        <div class="house-header">
          <p class="house-content-title">Miami, USA</p>
          <p class="rent-price">Aluguel: $2000</p>
        </div>
        <p class="house-content-address">3067  Lake Forest Drive</p>

        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

  </div>
</div>
</div>
