
<div class="container">
  <h2>Novidades</h2>

  <div class="house-grid">
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506496/photo-1613977257363-707ba9348227_acq43z.jpg" alt="">
        <p class="house-content-title">Los Angeles, USA</p>
        <p class="house-content-address">3206  Lost Creek Road</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2000</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506587/photo-1531971589569-0d9370cbe1e5_plvl6r.jpg" alt="">
        <p class="house-content-title">Los Angeles, USA</p>
        <p class="house-content-address">4705  Raoul Wallenberg Place</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2500</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506732/photo-1513584684374-8bab748fbf90_npkyyh.jpg" alt="">
        <p class="house-content-title">New York, USA</p>
        <p class="house-content-address">2303  Trouser Leg Road</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2500</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506810/photo-1581974206967-93856b25aa13_rjwc9w.jpg" alt="">
        <p class="house-content-title">Santa Mônica, USA</p>
        <p class="house-content-address">1642  Rainbow Drive</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2100</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506876/photo-1602075432748-82d264e2b463_d6y1fy.jpg" alt="">
        <p class="house-content-title">Santa Bárbara, USA</p>
        <p class="house-content-address">4282  West Virginia Avenue</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $2350</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

    </div>
    <div class="house-content">
      <div class="house-img-container">
        <img class="img-house-content" src="https://res.cloudinary.com/dloadb2bx/image/upload/v1622506908/photo-1575517111478-7f6afd0973db_ici6dt.jpg" alt="">
        <p class="house-content-title">Miami, USA</p>
        <p class="house-content-address">3067  Lake Forest Drive</p>
        <div class="house-rent">
          <p class="house-rent-value">Aluguel: $3000</p>
        </div>
        <div class="icons-container">
          <div>
          <i class="fas fa-shower fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-bed fa-lg"></i><span class="icon-value">4</span>
          </div>
          <div>
            <i class="fas fa-car fa-lg"></i><span class="icon-value">3</span>
          </div>
          <div>
            <i class="fas fa-vector-square fa-lg"></i><span class="icon-value">1000m</span>
          </div>

        </div>
      </div>

  </div>
</div>
</div>

<div class="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <img class="img-call-to-action" src="https://images.unsplash.com/photo-1613553497126-a44624272024?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="">
      </div>
      <div class="col-lg-6">
        <div class="call-to-action-content">
          <p class="call-to-action-title">Contate um corretor</p>
          <p class="call-to-action-subtitle">As melhores casas para alugar estão aqui</p>
          <button class="btn btn-call-to-action w-100 mt-5">Entrar em contato</button>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="announcement">
  <div class="container">
    <div class="announcement-grid">
      <div class="announcement-content">
        <i class="fas fa-house-user fa-4x"></i>
        <p class="announcement-title">Alugue sua casa</p>
        <p>Temos uma variada cartela de clientes prontos para pagarem os melhores preços pelo seu imóvel.</p>
      </div>
      <div class="announcement-content">
        <i class="fas fa-house-user fa-4x"></i>
        <p class="announcement-title">As melhores do mercado</p>
        <p>As casas alugadas pela nossa imobiliária são as melhores do mercado. Qualidade em primeiro lugar.</p>
      </div>
      <div class="announcement-content">
        <i class="fas fa-money-bill-wave fa-4x"></i>
        <p class="announcement-title">Facilidade</p>
        <p>Sem fiador e com facilidade no cadastro, garantimos o adimplemento dos aluguéis com base em seguro próprio.</p>
      </div>
    </div>
  </div>

</div>
